.jumbotron {
    padding-top: 6rem;
    background-color: #fd945f;

}

#projects {
    background-color: #fd945f;
}

.footer {
    background-color: #FF5500;
}

section {
    padding-top: 5rem;
}

.btn-kirim {
    background-color: #fa5300;
}

.btn-loading {
    background-color: #fa5300;
}